

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



       body {
           padding-top: 50px;
           padding-bottom: 20px;
       }





    /* Poetry page styles */
    .title{
        font-weight: bold;
    }

    .author{
        font-weight: bold;
    }

    .lines{
        list-style-type: none;
        li{
            style: none;
        }
    }