

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



       body {
           padding-top: 50px;
           padding-bottom: 20px;
       }

    /*Home page styling*/
    .row {
      font-size: 24px;
      text-align: center;
      width: 1150px;
      margin: 0 auto;
      position: relative;
      line-height: 2;
    }




    /* Poetry page styles */
    .title{
        font-weight: bold;
    }

    .author{
        font-weight: bold;
    }

    .lines{
        list-style-type: none;
        li{
            style: none;
        }
    }
